@tailwind base;
@tailwind components;
@tailwind utilities;

.page_title {
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 20px;
}

.create_book_button {
    margin: 20px 20px 20px 0px;
    color: white;
    text-transform: uppercase;
    background-color: #357ef2;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 0.375em;
    margin-right: 0.5em;
}

.create_book_button:hover {
    background-color: #006aa3;
}

.each_book_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delete_button_color{
    background-color:#ff2020;
    color:white;    
    border-radius: 0.375em;
}
.delete_button_color:hover{
    background-color: #c42321;
}
.edit_button_color{
    background-color:#32b928;
    color:white;
    border-radius: 0.375em;
}
.edit_button_color:hover{
    background-color:#22881b;
}