@tailwind base;
@tailwind components;
@tailwind utilities;

.page_title {
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 20px;
}

.create_book_button {
    margin: 20px 20px 20px 0px;
    color: white;
    text-transform: uppercase;
    background-color: #357ef2;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 0.375em;
    margin-right: 0.5em;
}

.create_book_button:hover {
    background-color: #006aa3;
}

.each_book_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delete_button_color{
    background-color:#ff2020;
    color:white;    
    border-radius: 0.375em;
}
.delete_button_color:hover{
    background-color: #c42321;
}
.edit_button_color{
    background-color:#32b928;
    color:white;
    border-radius: 0.375em;
}
.edit_button_color:hover{
    background-color:#22881b;
}


.background-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    animation: fade 15s infinite;
    opacity: 0;
}

#slide1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://media.istockphoto.com/id/615911984/photo/woman-lies-on-the-beach-reading-a-book.jpg?s=170667a&w=0&k=20&c=6_RwpBSOQP4Ov8_u1sCTtMRTNQ0DAoNqdlaVZ-WSTqM=');
    animation-delay: 0s;
}

#slide2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGJvb2tzdG9yZXxlbnwwfHwwfHx8MA%3D%3D');
    animation-delay: 5s;
}

#slide3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1491841651911-c44c30c34548?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8b2xkJTIwYm9va3N8ZW58MHx8MHx8fDA%3D');
    animation-delay: 10s;
}

@keyframes fade {
    0% { opacity: 0; }
    20% { opacity: 1; }
    33% { opacity: 1; }
    53% { opacity: 0; }
    100% { opacity: 0; }
}

.bookstartbutton{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.bookstartbutton:hover {
    letter-spacing: 6px;
  }

.featured-book{
    width: 80%;
    margin: 20px auto;  
    background: #F6F1E9;  
    padding: 24px;  
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);  
    border-radius: 4px;  
}


/* .book-item {
    display: flex; 
    align-items: center; 
    padding: 40px;
    background: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); 
} */
.book-item {
    background: #ffffff; 
    padding: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    display: flex;
    align-items: center; 
    transition: transform 0.3s ease-in-out; 
}
.book-item:hover {
    transform: translateY(-5px);
}

.book-image {
    width: 100px; 
    height: auto; 
    margin-right: 20px; 
    border-radius: 4px; 
}
.soldOutBg{
    background-color: #FFF2D7;
}
.saleContainer{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.saleWidth{
    width:60vw;
}
.navLink a{
    font-size: 16px;
}
.navLink form{
    margin:0;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    background: #F6F1E9;  
    padding: 10px 0;  
}

.marquee-content {
    min-width: 100%; 
    display: inline-block;  
    animation: marquee-animation 20s linear infinite;  
    color: #072541;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}

@keyframes marquee-animation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.footerBg{
    background-color: #FFEDD6;  
}

.container{
    display:grid;
    grid-template-columns: 33vw 20vw auto;
    gap:90px;
}

